In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('file1.csv')

In [3]:
df = df.sort_values('customer_id')

In [4]:
df['id'] = df['id'].astype(int)

In [5]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%m/%d/%y %H:%M')

In [6]:
df['diff'] = df.groupby('customer_id')['timestamp'].diff(1)

In [7]:
sessions_start_df = df[(df['diff'].isnull()) | (df['diff'] > '180 seconds')]

In [8]:
sessions_start_df['session_id'] = sessions_start_df['id']

c:\dev\pandas_sessions\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
sessions_start_df = sessions_start_df[sessions_start_df['session_id'].notna()]

In [10]:
sessions_start_df.loc['id'] = sessions_start_df['id'].astype(int)

In [11]:
sessions_start_df['session_id'] = sessions_start_df['id']

In [12]:
sessions_start_df = sessions_start_df[sessions_start_df['session_id'].notna()]

In [13]:
sessions_start_df['id'] = sessions_start_df['id'].astype(int)

In [14]:
sessions_start_df['session_id'] = sessions_start_df['session_id'].astype(int)

In [15]:
df = df.sort_values('id')

In [16]:
sessions_start_df = sessions_start_df.sort_values('id')

In [17]:
df = pd.merge_asof(df,sessions_start_df[['id','customer_id','session_id']],on='id',by='customer_id')

In [18]:
df = df[df['session_id'].notna()]

In [19]:
df1 = df[['customer_id', 'product_id', 'timestamp', 'session_id']]

In [20]:
df1['session_id'] = df1['session_id'].astype(int)

c:\dev\pandas_sessions\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df1

   customer_id  product_id           timestamp  session_id
0          ds1         200 2022-12-30 00:00:00           1
1          ds1         200 2022-12-30 00:01:00           1
2          ds1         200 2022-12-30 00:02:00           1
3          ds1         200 2022-12-30 00:03:00           1
5          ht1         200 2022-12-30 00:05:00           6
6          ht1         200 2022-12-30 00:06:00           6
8          dr1         200 2022-12-30 00:08:00           9
9          dr1         200 2022-12-30 00:09:00           9
10         dr1         200 2022-12-30 00:10:00           9
12         tu1         200 2022-12-30 00:12:00          13
13         tu1         200 2022-12-30 00:13:00          13
16         fe1         200 2022-12-30 00:16:00          17
19         ik1         200 2022-12-30 00:19:00          20
20         mj1         200 2022-12-30 00:20:00          21
21         mj1         200 2022-12-30 00:21:00          21
22         mj1         200 2022-12-30 00:22:00          21